.noUi-tooltip {
	display: block;
	position: absolute;
	border: 1px solid #1ab5a7;
	border-radius: 3px;
	background: #1ab5a7;
	color: #fff;
	padding: 0 3px;
	text-align: center;
	white-space: nowrap;
}

.noUi-horizontal .noUi-handle-lower .noUi-tooltip {
	top: -26px;
	left: 0px;
}
.noUi-horizontal .noUi-handle-upper .noUi-tooltip {
	bottom: -26px;
	right: 0px;
}
.noUi-vertical .noUi-handle-lower .noUi-tooltip {
	left: 120%;
}
.noUi-vertical .noUi-handle-upper .noUi-tooltip {
	right: 120%;
}
