<SCRIPT>
    function passWord() {
        var testV = 1;
        var pass1 = prompt('Please Enter Your Password', ' ');
        while (testV < 3) {
            if (!pass1)
                history.go(-1);
            if (pass1.toLowerCase() == "letmein") {
                window.open('index_logged_out.html');
                break;
            }
            testV += 1;
            var pass1 =
                prompt('Access Denied - Password Incorrect, Please Try Again.', 'Password');
        }
        if (pass1.toLowerCase() != "password" & testV == 3)
            history.go(-1);
        return " ";
    }
</SCRIPT>
<FORM>
    <input type="button" value="Enter Protected Area" onClick="passWord()">
</FORM>